<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Alphaleaf moonshot test suit">

    <!--Test Execution Listeners -->
    <listeners>
        <listener class-name="utility.TestListener"/>
    </listeners>


    <test name="smoke">
        <classes>

        </classes>
    </test>



</suite>


