<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Alphaleaf moonshot test suit">

    <listeners>
        <listener class-name="utility.TestExecutionListener"/>
    </listeners>

    <test name="smoke">
        <classes>
            <class name="testcases.TrelloAuthenticationTest"/>
        </classes>
    </test>

</suite>